USE [master]
GO
/****** Object:  Database [BaiTapLon]    Script Date: 1/21/2022 1:44:35 AM ******/
CREATE DATABASE [BaiTapLon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaiTapLon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BaiTapLon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaiTapLon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BaiTapLon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaiTapLon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaiTapLon]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 1/21/2022 1:44:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[userID] [varchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[MaNhanVien] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 1/21/2022 1:44:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[MaBan] [int] NOT NULL,
	[ConTrong] [bit] NULL,
 CONSTRAINT [PK_Ban] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoCaoDoanhThu]    Script Date: 1/21/2022 1:44:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCaoDoanhThu](
	[MaBC] [nchar](10) NOT NULL,
	[MaHoaDon] [varchar](5) NULL,
 CONSTRAINT [PK_BaoCaoDoanhThu] PRIMARY KEY CLUSTERED 
(
	[MaBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 1/21/2022 1:44:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[Ma] [int] NOT NULL,
	[Ten] [nvarchar](20) NULL,
	[Mota] [nvarchar](100) NULL,
 CONSTRAINT [PK_Loai] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mon]    Script Date: 1/21/2022 1:44:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mon](
	[Ma] [int] NOT NULL,
	[Ten] [nvarchar](100) NULL,
	[Gia] [money] NULL,
	[MoTa] [nvarchar](200) NULL,
	[MaNhaCungCap] [varchar](5) NULL,
	[MaLoai] [int] NULL,
	[HetHang] [bit] NULL,
 CONSTRAINT [PK_Mon] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mon_Ban]    Script Date: 1/21/2022 1:44:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mon_Ban](
	[MaBan] [int] NOT NULL,
	[MaMon] [int] NOT NULL,
	[DonGia] [money] NULL,
	[SoLuong] [int] NULL,
	[Ngay] [datetime] NULL,
	[MaHoaDon] [varchar](5) NOT NULL,
	[MaNV] [nvarchar](10) NULL,
 CONSTRAINT [PK_Mon_Ban] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 1/21/2022 1:44:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[Ma] [varchar](5) NOT NULL,
	[Ten] [nvarchar](100) NULL,
	[DiaChi] [nchar](10) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLNhanVien]    Script Date: 1/21/2022 1:44:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLNhanVien](
	[MaNhanVien] [nvarchar](10) NOT NULL,
	[Ho] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[CMND] [int] NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[MaChucVu] [int] NOT NULL,
 CONSTRAINT [PK_QLNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTChucVu]    Script Date: 1/21/2022 1:44:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTChucVu](
	[MaChucVu] [int] NOT NULL,
	[TenChucVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_TTChucVu] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_QLNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[QLNhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_QLNhanVien]
GO
ALTER TABLE [dbo].[BaoCaoDoanhThu]  WITH CHECK ADD  CONSTRAINT [FK_BaoCaoDoanhThu_Mon_Ban] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[Mon_Ban] ([MaHoaDon])
GO
ALTER TABLE [dbo].[BaoCaoDoanhThu] CHECK CONSTRAINT [FK_BaoCaoDoanhThu_Mon_Ban]
GO
ALTER TABLE [dbo].[Mon]  WITH CHECK ADD  CONSTRAINT [FK_Mon_Loai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([Ma])
GO
ALTER TABLE [dbo].[Mon] CHECK CONSTRAINT [FK_Mon_Loai]
GO
ALTER TABLE [dbo].[Mon]  WITH CHECK ADD  CONSTRAINT [FK_Mon_NhaCungCap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([Ma])
GO
ALTER TABLE [dbo].[Mon] CHECK CONSTRAINT [FK_Mon_NhaCungCap]
GO
ALTER TABLE [dbo].[Mon_Ban]  WITH CHECK ADD  CONSTRAINT [FK_Mon_Ban_Ban] FOREIGN KEY([MaBan])
REFERENCES [dbo].[Ban] ([MaBan])
GO
ALTER TABLE [dbo].[Mon_Ban] CHECK CONSTRAINT [FK_Mon_Ban_Ban]
GO
ALTER TABLE [dbo].[Mon_Ban]  WITH CHECK ADD  CONSTRAINT [FK_Mon_Ban_Mon] FOREIGN KEY([MaMon])
REFERENCES [dbo].[Mon] ([Ma])
GO
ALTER TABLE [dbo].[Mon_Ban] CHECK CONSTRAINT [FK_Mon_Ban_Mon]
GO
ALTER TABLE [dbo].[QLNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_QLNhanVien_TTChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[TTChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[QLNhanVien] CHECK CONSTRAINT [FK_QLNhanVien_TTChucVu]
GO
USE [master]
GO
